*{
	margin:0;
	padding:0;
}
.cover-1 {
  background: url('.././assets/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-top:1px;
  text-align: center;
  height:100%;
  z-index:-1000;
  color:#ffffff;

}
.cover-2 {
  background: url('.././assets/images/i-pad.jpg') no-repeat center center fixed;
  background-size: cover;
  width:100%;
  height:auto;
  text-align:left;
  padding-left: 10%;
  z-index:-1000;
  color:#ffffff;
  position:relative;
  padding-top:1px;

}
.cover-3{
	background:#5c696a;
	width:100%;
	text-align: center;
	position:relative;
	padding-top:1px;
}
.cover-3:after{
	position: absolute;
 	display: block;
  	content: "";  
  	border-left: 20px solid transparent;
  	border-right: 20px solid transparent;
  	border-top: 20px solid #5c696a;
  	height:0;
  	width:0;
  	bottom:-20px;
  	z-index:1000;
  	left:50%;
  	margin-left:-20px;

}
.cover-4{
	background:#ffffff;
	width:100%;
	text-align: center;
	position:relative;
	padding-top:1px;

}
.cover-5{
	background:#7accc8;
	width:100%;
	text-align: center;
	position:relative;
	padding-top:1px;

}

.img-transparent{
	background: url('.././assets/images/phool-patti.png') no-repeat center center fixed;
  	background-size: cover;
	width:100%;
	position:absolute;
	top:0;
	height:80vh;
	opacity:0.10;
	z-index:0;




}

.main-text{
	z-index:14;
}
@font-face {
    font-family: "Lato-Light";
    src: url(.././assets/fonts/Lato-Light.ttf) format("truetype");
}
p.customfont { 
    font-family: "Lato-Light";
}
@font-face {
    font-family: "Avenir";
    src: url(.././assets/fonts/Avenir.ttf) format("truetype");
}
p.customfont { 
    font-family: "Lato-Light";
}
@font-face {
    font-family: "Helvetica";
    src: url(.././assets/fonts/Helvetica.otf) format("opentype");
}
p.customfont { 
    font-family: "Helvetica";
}
@font-face {
    font-family: "Lato-Bold";
    src: url(.././assets/fonts/Lato-Bold.ttf) format("truetype");
}
p.customfont { 
    font-family: "Lato-Bold";
}
@font-face {
    font-family: "Lato-Regular";
    src: url(.././assets/fonts/Lato-Bold.ttf) format("truetype");
}
p.customfont { 
    font-family: "Lato-Regular";
}
@font-face {
    font-family: "Lato-MediumItalic";
    src: url(.././assets/fonts/Lato-MediumItalic.ttf) format("truetype");
}
p.customfont { 
    font-family: "Lato-MediumItalic";
}
@font-face {
    font-family: "Lato-LightItalic";
    src: url(.././assets/fonts/Lato-LightItalic.ttf) format("truetype");
}
p.customfont { 
    font-family: "Lato-LightItalic";
}
@font-face {
    font-family: "Lato-Thin";
    src: url(.././assets/fonts/Lato-Thin.ttf) format("truetype");
}
p.customfont { 
    font-family: "Lato-Thin";
}

.dropdown-ab{
	margin-top:15px !important;
	background:#1f1f1f !important;
	outline:none;
	border:none !important;
	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
  	border-radius: 0 !important;

}

.dropdown-ab a{
	color:#cccccc !important;
	height:40px;
	font-family: 'Lato-Light';
	width:90%;
	vertical-align: middle !important;
	text-align: center;
	border-bottom: 1px solid #4b4b4b;
	margin:0 auto;
}
.dropdown-ab a:hover{
	background:#2e2e2e !important;
}

.dropdown-ab a.last{
	border-bottom: none;
}
.dropdown-ab{
	width:100%;
}
.dropdown-ab-chotta{
	text-align:left;
	color:#575757;
	background:#ffffff !important;
	font-family: 'Lato-Light';
	width:100%;
	border-bottom: 1px solid #4b4b4b;
}
.site-wrapper,.site-wrapper-inner{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
}
.navbar{
	margin-bottom:0;
}


.dropdown-ab:before{

  position: relative;
  display: block;
  content: "";  
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #1f1f1f;
  height:0;
  width:0;
  margin: 0 auto;
  margin-top:-15px;
}
.navbar,.navbar-collapse{
	width:100%;
	text-align: center;
	border:none;
}
.nav >li{
	width:20%;
}
.nav{
	width:100%;
	position:relative;
	padding-left:20%;
	background:#e8b968;
}
.nav>li>a:hover{
	background:#ffdea6;
}

.nav>li>a{
	color:#ffffff !important;
	font-family: 'Lato-Light';
	font-size: 18px;
}


.centerDropdown {
    left: auto !important;
    right: auto !important;
}
.icon-bar{
	background:#ffffff;
}
/*.centerDropdown:after {
   left: auto !important;
   right: 105% !important;
}*/
.cover-heading{

font-family: 'Lato-Thin';
margin-top:12%;
}
.cover-heading-2{

font-family: 'Lato-Thin';
margin-top:12%;
width:60%;
}
.text{
font-size:12px;
font-family: 'Lato-MediumItalic';
}
.play{
	margin-top: 5%;
}
.sign-up{
	margin-top:120px;
	width:160px;
	height:40px;
	background: #7accc8;
	color:#ffffff;
	font-family: 'Lato-Bold';
	border-radius: 1px;
	cursor: pointer;
}
.sign-up:hover{
	color:#7accc8 !important;
	background:#ffffff !important;

}
.desc{
	padding-top: 4%;
	font-size: 12px;
	font-family: 'Lato-Regular';
	width:40%;

}
.activity{
	border-radius: 0;
	background:transparent !important;
	border:2px solid #ffffff;
	font-family: 'Lato-Bold';
	font-size: 12px;
	margin-top: 4%;
	width:140px;
	height:40px;
	color:#ffffff;
	margin-bottom:200px;
}

.activity:hover{
	color:#ffffff;
}
.circle-large{
	width:100px;
	height:100px;
	border-radius: 50%;
	-mox-border-radius:50%;
	-o-border-radius:50%;
	border:3px solid #ffffff;
	background: #575757;
	z-index:1800;
	margin:0 auto;
	margin-top: 5%;
	overflow:hidden;
}
.texty{
	z-index:13;
	color:#ffffff;
	font-family: 'Lato-LightItalic';
	font-size: 17px;
	width:60%;
	margin:0 auto;
	margin-top:2%;
}
.nav-circle{
	margin:0 auto;
	padding-top:2%;
	padding-bottom:50px;
	z-index:1000;

	
}
.circle{
	z-index:1000;
	display:inline-block;
	margin-right:5px;
	width:10px;
	height:10px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border:2px solid #ffffff;

}
.selected{
	background:#ffffff;
	z-index:1000;
}
.texty>ul{
	list-style-type: none;
}
.texty>ul>li div{
	height:60px;
}
.texty{
	height:60px;
	overflow:hidden;

}
#slider img{
	
	display:block;
}
.texty div{
	height:100px;
}
.row-ab{
	margin:0;
	padding:0;
	padding-top:3%;

}
.heading-5{
	font-size:12px;
	font-family: 'Lato-Regular' !important;
	color:#7a8387 !important;

}
.text-ab{
	font-size:12px;
	font-family:'Lato-Light';
	line-height: 200%;

}
.col-md-6-ab{
	text-align: left !important;
	color:#7a8387;
	margin-top:50px;
	padding-left:80px;
	padding-right:80px;


}
.divide{
	border-right: 1px solid #d0d9e2;
}
.get-involved{
	margin-top:3%;
	background:#f69679;
	color:#ffffff;
	font-family: 'Lato-Bold';
	font-size:11px;
	width:140px;
	height:40px;
	border-radius: 2px;
	margin-bottom:80px;
}
.get-involved:hover{
	background:#ffffff;
	color:#f69679;
}
.niche-wala-text-1{
	color:#ffffff;
	font-family: 'Avenir';
	font-size: 12px;
	line-height: 200%;
	text-align: left;
	padding:20px;
	margin-left:80px;

}
.niche-wala-text-2{
	color:#ffffff;
	font-family: 'Avenir';
	font-size: 12px;
	line-height: 200%;
	text-align: left;
	padding:20px;
	

}
.niche-wala-text-3{
	color:#ffffff;
	font-family: 'Avenir';
	font-size: 14px;
	line-height: 200%;
	text-align: left;
	padding:20px;
	float:right;
	

}
.niche-wala-text-3 a{
	color:#ffffff;
}
.row-ab-niche{
	padding-bottom:40px;
}
.shape{
	margin-bottom:150px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
.activity{
		margin-bottom: 50px;
	}


}
@media only screen and (max-width: 990px) {
.niche-wala-text-2{
	margin-left:80px;
}
.niche-wala-text-3{
	float:left;
	margin-left: 80px;
}


}
@media only screen and (max-width: 900px) {
.desc{
	width:55%;
}

}
@media only screen and (max-width: 600px) {
.desc{
	width:65%;
}

}
@media only screen and (max-width: 600px) {
.nav li{
	width:100%;
	text-align: left;
}
.nav{
	padding-left:10px;
}

}

